@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Oswald');

$darkgrey: #6e6e6e;
$lightergrey: #ececec;
$lightgrey: #cccccc;
$red: #FF0000;


//$mainsolid: #006363;
$mainsolid: #1B836C;
$accent: #FFAA00;
//$accent-alt: #FF0000;
$accent-alt: #063322;
$secondary: #009999;
$accent-last: #33CCCC;